* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 90vw;
    max-width: 800px;
    margin-inline: auto;
}

nav {
    background-color: burlywood;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.384);
}

nav * {
    display: flex;
    justify-content: space-between;
}

#settings {
    align-items: center;
}

button {
    border: none;
    border-radius: 12px;
    padding: 0.2rem;
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.397);
    outline: none;
}

button:active {
    transform: scale(0.9);
    background-color: rgba(233, 232, 232, 0.938);
}

#config-pop {
    display: none;
    position: fixed;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.938);
    width: 300px;
    margin: 0.5rem auto;
    margin-left: -150px;
    border-radius: 25px;
    border: 5px solid white;
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.199);
    z-index: 10;
}

@media screen and (min-width: 700px) {
    #config-pop {
        left: 30%;
        width: 200px;
        margin-left: -100px;
    }
}

.config-window {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem auto;
    align-items: center;
}

.config-window * {
    background-color: rgba(204, 204, 204, 0.185);
    border-radius: 1rem;
    margin: 0.1rem 0.5rem;
    padding: 0.5rem;
    align-self: center;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timmer {
    padding: 1rem 2rem;
    font-size: 2rem;
    text-shadow: 1px 1px #3a3a3a3b;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls * {
    margin: 0.5rem;
    flex-basis: 100%;
    min-width: 5rem;
    width: auto;
}

li {
    list-style: none;
    margin-top: 0.5rem;
}

.card {
    width: 100%;
    max-width: 18rem;
    margin: 1rem 0.2rem;
    padding: 0.5rem;
}

.list {
    text-align: center;
    line-height: 70%;
    font-size: 1.5rem;
}

#time-list p {
    font-size: 0.65rem;
    font-weight: 500;
}

.old-display {
    background-color: rgb(211, 211, 211);
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.75) inset;
    border-radius: 0.5rem;
}